<%- include('../index/header') %>

    <link rel="stylesheet" href="/static/css/profile/timeline.css">
    <%- include('styles') %>

</head>

    <div class="main col-12">
        <!-- ------------------ Profile ------------------  -->
        <div class="col-3 inner-div profile-div">
            <div class="inner-profile-div">
                <div class="image-div">
                    <center>
                        <div class="img-content-div">
                            <div class="upload-container">
                                <label for="upload-btn" class="material-icons camera-icon" title="Change profile picture">
                                    camera_alt
                                </label>
                            </div>

                            <img src="https://res.cloudinary.com/dreyan/image/upload/v1538466628/ax-images/<%= docs.uType %>/<%= docs.basicInfo.profile %>" class="image">
                        </div>
                    </center>

                    <form class="upload-form" method="POST" enctype="multipart/form-data">
                        <input type="file" id="upload-btn">
                    </form>

                    <div class="details-div">
                        <div class="name">
                            <% if(docs.uType === 'doctor') { %>
                                Dr.
                            <% } %>
                           <%= docs.basicInfo.fname %> <%= docs.basicInfo.mname %> <%= docs.basicInfo.lname %>
                        </div>

                        <% if(docs.uType === 'doctor') { %>
                                <div class="specialty">
                                    
                                    <div class="specialty-content">
                                        <% 
                                            let objLen = Object.keys(docs.specialty).length
                                            let count = 0

                                            for(data in docs.specialty) {
                                                count++ 
                                        %>
                                                <% if(docs.specialty[data] !== 0) { %>
                                                    <%= 
                                                        docs.specialty[data].specialization
                                                    %>
                                                    <% if(objLen !== count) { %>
                                                        /
                                        <% 
                                                        }
                                                    }
                                                } 
                                        %> 
                                    </div>

                                    <div class="add-specialty-div">
                                        <button class="add-specialty-btn">
                                            <i class="material-icons add-icon">add</i>
                                            <span class="add-specialty-text">Add specialization</span>
                                        </button>
                                    </div>
                                </div>

                                <div class="since">
                                </div>
                        <% } %>
                        <div class="add-bio-div">

                            <!-- <button class="add-bio-btn">
                                <i class="material-icons add-icon">add</i>
                                <span class="add-bio-text">Add bio</span>
                            </button> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- ---------------- Center Div ------------------ -->
        <div class="col-6 inner-div center-div">
        </div>


        <!-- -------------- Advertisements ------------------ -->
        
        <div class="col-3 inner-div ads-div">
            <p class="ads-title">Ads</p>

            <div class="inner-ads">
                <center>
                    <div class="ads-img-div">
                        <img src="/static/images/ads/wh.png" class="ads-img">
                    </div>
                    
                    <a onclick="window.open('http://startupproject.ph')" class="ads-links">Start Up Project PH</a>

                    <p class="ads-content">
                        We create a divers and collaborative space that is responsive to the 
                        productivity needs and stylistic preferences of today’s creative work force.
                    </p>

                </center>
            </div>

            <div class="inner-ads">
                <center>
                    <div class="ads-img-div">
                        <img src="/static/images/ads/occa.png" class="ads-img">
                    </div>
                    
                    <a onclick="window.open('https://occashop.000webhostapp.com/')" class="ads-links">Occashop</a>

                    <p class="ads-content">
                        Enhance the skills of the students in computing, using various technology that will leverage their perception in the
                        following turf, like computer programming, system design, machine language, neural networks, web and mobile
                        application, artificial intelligence and gamification.
                    </p>

                </center>
            </div>
        </div>
    </div>

    <%- include('nav') %>

    <!-- ----------------- Modals --------------- -->

    <div class="outer-modal-bg">
        <div class="outer-modal">
            <center>
                <div class="inner-cont-modal">
                </div>
            </center>
        </div>
    </div>
    
    <input type="hidden" class="channel" value="<%= channel %>">
    <input type="hidden" class="key" value="">

    <%- include('global_socket') %>
    <%- include('scripts') %>

<body>
    
</body>
</html>