<%- include('../index/header') %>

    <link rel="stylesheet" href="/static/css/profile/timeline.css">
    <%- include('styles') %>

</head>

    <%- include('nav') %>

    <div class="main col-12">
        <div class="col-3 inner-div profile-div">
            <div class="inner-profile-div">
                <div class="image-div">
                    <center>
                        <div class="img-content-div">
                            <img src="/static/images/profile-images/ker.jpg" class="image">
                        </div>
                    </center>
                    <div class="details-div">
                        <div class="name">
                            Dr. Gerphil Kier De la Cruz
                        </div>

                        <div class="specialty">
                            Pediatrics/ Developmental and Behavioral Pediatrics
                        </div>

                        <div class="since">
                            MD since 2004 
                        </div>

                        <h4 class="titles">About My Practice</h4>
                        <div class="contents">
                            I am a developmental and behavioral pediatrician. My practice deals with developmental and behavioral concerns of children such as ADHD, autism, learning disability, intellectual disability and the like. I also do school assessment to help children and their parents find better placement for them in terms of education.
                        </div>

                        
                        <h4 class="titles">Clinic Information</h4>
                        <div class="contents">
                            <div class="clinic-name">
                                M. Francisco Children's Medical Clinic
                            </div>
                            <div class="clinic-loc">
                                497 F. Mariano Ave, Manggahan, Pasig City, Metro Manila
                            </div>
                            <div class="clinic-phone">
                                Tel No.:  (632)6817158 / 09154524372
                            </div>

                            <h4 class="view-sched">
                                View clinic schedule
                            </h4>

                            <div class="sched-content">
                                <h4 class="titles">Schedules</h4>
                                <table class="sched-tbl">
                                    <th>Day</th>
                                    <th>Hours</th>
                                    <tr>
                                        <td>Monday</td>
                                        <td>9:00am - 2:00pm</td>
                                    </tr>

                                    <tr>
                                        <td>Tuesday</td>
                                        <td>9:00am - 2:00pm</td>
                                    </tr>

                                    <tr>
                                        <td>Wednessday</td>
                                        <td>5:00pm - 7:00pm</td>
                                    </tr>

                                    <tr>
                                        <td>Thursday</td>
                                        <td>9:00am - 2:00pm</td>
                                    </tr>

                                    <tr>
                                        <td>Friday</td>
                                        <td>5:00pm - 7:00pm</td>
                                    </tr>

                                    <tr>
                                        <td>Saturday</td>
                                        <td>9:00am - 2:00pm</td>
                                    </tr>
                                </table>


                                <div class="hide-sched">
                                    Hide schedules
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-6 inner-div timeline-div">
            <div class="col-12 inner-bar">
                <div class="col-4 bar-btns-div">
                    <button class="active bar-btn">
                        Today's Schedule
                    </button>
                </div>
                <div class="col-4 bar-btns-div">
                    <button class="bar-btn">
                        Upcoming Schedules
                    </button>
                </div>
                <div class="col-4 bar-btns-div">
                    <button class="bar-btn">
                        Posts
                    </button>
                </div>
            </div>
            <div class="col-12 todays-div">
                <p class="p-date">
                    <%= month %> <%= day %>, <%= year %> 
                </p>

                <table class="today-tbl">
                    <th>Time</th>
                    <th>Name</th>
                    <th></th>

                    <tr>
                        <td class="sched-td">9:00am</td>
                        <td class="sched-td">Adrianne Dave Danozo</td>
                        <td class="sched-td">
                            <button class="re-sched">
                                Reschedule
                            </button>
                            <button class="cancel">
                                Cancel
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td class="sched-td">9:30am</td>
                        <td class="sched-td">Jhon Michael Gonzales</td>
                        <td class="sched-td">
                            <button class="re-sched">
                                Reschedule
                            </button>
                            <button class="cancel">
                                Cancel
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td class="sched-td">10:00am</td>
                        <td class="sched-td">Vinoe Saison</td>
                        <td class="sched-td">
                            <button class="re-sched">
                                Reschedule
                            </button>
                            <button class="cancel">
                                Cancel
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td class="sched-td">11:30am</td>
                        <td class="sched-td">Paul Joseph Tiquio</td>
                        <td class="sched-td">
                            <button class="re-sched">
                                Reschedule
                            </button>
                            <button class="cancel">
                                Cancel
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td class="sched-td">12:00am</td>
                        <td class="sched-td">Ace Velarde</td>
                        <td class="sched-td">
                            <button class="re-sched">
                                Reschedule
                            </button>
                            <button class="cancel">
                                Cancel
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td class="sched-td">1:00pm</td>
                        <td class="sched-td">Atena Daylisan</td>
                        <td class="sched-td">
                            <button class="re-sched">
                                Reschedule
                            </button>
                            <button class="cancel">
                                Cancel
                            </button>
                        </td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="col-3 inner-div ads-div">
            <p class="ads-title">Ads</p>

            <div class="inner-ads">
                <center>
                    <div class="ads-img-div">
                        <img src="/static/images/ads/wh.png" class="ads-img">
                    </div>
                    
                    <a href="http://startupproject.ph" class="ads-links">Start Up Project PH</a>

                    <p class="ads-content">
                        We create a divers and collaborative space that is responsive to the productivity needs and stylistic preferences of today’s creative work force.
                    </p>

                </center>
            </div>

            <div class="inner-ads">
                <center>
                    <div class="ads-img-div">
                        <img src="/static/images/ads/occa.png" class="ads-img">
                    </div>
                    
                    <a href="http://startupproject.ph" class="ads-links">Occashop</a>

                    <p class="ads-content">
                        We create a divers and collaborative space that is responsive to the productivity needs and stylistic preferences of today’s creative work force.
                    </p>

                </center>
            </div>
        </div>
    </div>

    <%- include('../index/footer') %>

    <%- include('scripts') %>

<body>
    
</body>
</html>