<%- include('../index/header') %>

    <link rel="stylesheet" href="/static/css/profile/timeline.css">
    <%- include('styles') %>

</head>

    <div class="main col-12">
        
        <!-- ------------------ Profile ------------------  -->
        <div class="col-3 inner-div profile-div">
            <div class="inner-profile-div">
                <div class="image-div">
                    <center>
                        <div class="img-content-div">
                            <img src="/static/images/profile-images/<%= data.img %>" class="image">
                        </div>
                    </center>
                    <div class="details-div">
                        <div class="name">
                            <% if(data.doctor === true) { %> Dr. <% } %>
                            <%= data.name %>
                        </div>

                        <% if(data.doctor === true) { %>
                            <div class="specialty">
                               <%= data.specialty %>
                            </div>
                            <div class="since">
                                <%= data.since %>   
                            </div>

                            <button class="access-btn setAppointment ">Set an Appointment</button>
                            <button class="access-btn sendMessage">Send Message</button>

                        <% } else { %>
                            <div class="specialty">
                                <%= data.address %>
                            </div>

                            <button class="access-btn addMedicalRecords">Add Medical Records</button>
                            <button class="access-btn sendMessage ">Send Message</button>
                        <% } %>

                        <% if(data.doctor === true) { %>
                            <h4 class="titles view-more">View more...</h4>
                        
                            <div class="details">
                                <h4 class="titles">About My Practice</h4>
                                <div class="contents">
                                    <%= data.practice %>
                                </div>

                                
                                <h4 class="titles">Clinic Information</h4>
                                <div class="contents">
                                    <div class="clinic-name">
                                    <%= data.clinic_name %>
                                    </div>
                                    <div class="clinic-loc">
                                    <%= data.clinic_loc %>
                                    </div>
                                    <div class="clinic-phone">
                                    <%= data.clinic_phone %>
                                    </div>

                                    <h4 class="view-sched">
                                        View clinic schedule
                                    </h4>

                                    <div class="sched-content">
                                        <h4 class="titles">Schedules</h4>
                                        <table class="sched-tbl">
                                            <th>Day</th>
                                            <th>Hours</th>
                                        
                                                <% for(key in data.schedules) { %>

                                                    <tr>
                                                        <td class="my-sched-td">
                                                            <%= key %>
                                                        </td>
                                                        <td class="my-sched-td">
                                                            <%= data.schedules[key] %>
                                                        </td>
                                                    </tr>

                                                <% } %>

                                        </table>


                                        <div class="hide-sched">
                                            Hide schedules
                                        </div>
                                    </div>

                                    <h4 class="titles view-less">View Less</h4>

                                </div>
                            </div>
                        <% } %>
                    </div>
                </div>
            </div>
        </div>


        <!-- ---------------- Center Div ------------------ -->
        <div class="col-6 inner-div center-div">

            <!-- ---------------- Timeline ---------------- -->
            <div class="timeline-div">

            <!-- ------------ Timeline Navigation Bar ------------ -->
                <div class="col-12 inner-bar">
                    <div class="today-sched-div">
                        <% if(data.doctor === true) { %> 
                            <div class="col-4 bar-btns-div">
                                <button class="active bar-btn">
                                    Today's Schedule
                                </button>
                            </div>
                            <div class="col-4 bar-btns-div">
                                <button class="bar-btn">
                                    Upcoming Schedules
                                </button>
                            </div>
                            <div class="col-3 bar-btns-div">
                                <button class="bar-btn">
                                    Posts
                                </button>
                            </div>
                        <% } else { %>
        
                            <div class="col-3 bar-btns-div">
                                <button class="active bar-btn">
                                    Today's Schedule
                                </button>
                            </div>
                            <div class="col-3 bar-btns-div">
                                <button class="bar-btn">
                                    Upcoming Schedules
                                </button>
                            </div>
                            <div class="col-3 bar-btns-div">
                                <button class="bar-btn">
                                    Medical Records
                                </button>
                            </div>
                            <div class="col-3 bar-btns-div">
                                <button class="bar-btn">
                                    Posts
                                </button>
                            </div>
                        <% } %>
                    </div>
                </div>
    
    
                <!-- ------------ Today's schedules Div --------- -->
                
                <div class="col-12 inner-timeline-div active-div todays-div">
                    <p class="date-now">
                        <%= dateNow %>
                    </p>
    
                    <table class="today-tbl">
                        <th>Time</th>
                        <th>Name</th>
                        <th></th>
                    
                            
                        <% for(key in data.appointments.today) { %>
                            <tr>
                                <td class="sched-td-today">
                                    <%= key %>
                                </td>
                                <td class="sched-td-today">
                                    <% if(data.doctor === false) { %>
                                        Dr.
                                    <% } %>
                                    <%= data.appointments.today[key] %>
                                </td>
                                <td class="sched-td-today">
                                    <!-- <button class="today-re-sched">Reschedule</button> -->
                                    <button class="today-cancel">Cancel</button>
                                </td>
                            </tr>     
                        <% } %>
                    </table>
                </div>
    
                <!-- --------------- Upcoming Schedules ----------- -->
                <div class="col-12 inner-timeline-div upcoming-div">Nothing to show</div>
    
                <% if(data.doctor === false) { %> 
    
                    <div class="inner-timeline-div outer-medical-records-div">
    
                        <% if(Object.keys(data.medRecords).length !== 0) { %>
                            <!-- --------- Medical Records ----------- -->
    
                            <% for(keys in data.medRecords) { %>
                                <div class="col-12 medical-records-div">
                                    <p class="doc-name">
                                        Dr. <%= keys %> 
                                    </p>
                                    <% for(key in data.medRecords[keys]) { %>
                                        <p>
                                            Date: <%= key %>
                                        </p>
                                        <% for(k in data.medRecords[keys][key]) { %>
                                            <p>
                                                Findings: <%= data.medRecords[keys][key][k] %>
                                            </p>
                                        <% } %>
                                    <% } %>
                                </div>
                            <% } %>
    
                        <% } else { %>
    
                            <div class="col-12 medical-records-div">
                                Nothing to show
                            </div>
    
                        <% } %>
                    </div>
            
                <% } %>
    
    
    
                <!-- ---------------- Posts -------------- -->
                <div class="col-12 inner-timeline-div post-div">
                    Nothing to show
                </div>
    
            </div>


            <!-- --------------- Chat Div ---------- -->
            <div class="col-12 chat-div">
                <div class="col-12 chat-header">
                    <div class="col-5 inner-chat-header chat-header-left">
                        <img src="/static/images/profile-images/<%= data.img %>" class="chat-image">
                    </div>

                    <div class="col-7 inner-chat-header chat-header-right">
                        <% if(data.doctor === true ) { %>
                            Dr.
                        <% } %>
                        <%= data.name %>
                    </div>
                </div>

                <div class="col-12 chat-body">
                </div>

                <div class="col-12 chat-input-div">
                    <form class="col-12 chat-form">
                        <input type="hidden" name="name" value="<%= data.name %>">
                        <div class="col-10 chat-textarea-div">
                            <textarea name="chatInput" cols="30" rows="10" class="chat-input" placeholder="Enter some text..."></textarea>
                        </div>

                        <div class="col-2 chat-btn-div">
                            <button class="send-chat-btn">
                                Send
                            </button>
                        </div>
                    </form>
                </div>
            </div>
    
        </div>


       



        <!-- -------------- Advertisements ------------------ -->
        
        <div class="col-3 inner-div ads-div">
            <p class="ads-title">Ads</p>

            <div class="inner-ads">
                <center>
                    <div class="ads-img-div">
                        <img src="/static/images/ads/wh.png" class="ads-img">
                    </div>
                    
                    <a href="http://startupproject.ph" class="ads-links">Start Up Project PH</a>

                    <p class="ads-content">
                        We create a divers and collaborative space that is responsive to the productivity needs and stylistic preferences of today’s creative work force.
                    </p>

                </center>
            </div>

            <div class="inner-ads">
                <center>
                    <div class="ads-img-div">
                        <img src="/static/images/ads/occa.png" class="ads-img">
                    </div>
                    
                    <a href="http://startupproject.ph" class="ads-links">Occashop</a>

                    <p class="ads-content">
                        We create a divers and collaborative space that is responsive to the productivity needs and stylistic preferences of today’s creative work force.
                    </p>

                </center>
            </div>
        </div>
    </div>

    <%- include('nav') %>

    <!-- ----------------- Modals --------------- -->
    <div class="outer-modal-trick"></div>

    <div class="outer-modal">
        <center>
            <div class="close-modal-div">
                <i class="material-icons close-modal-icon">close</i>
            </div>

            <!--  Appoinment Modal -->
            <div class="appointment-modal">
                <div class="message">
                </div>

                <p class="date-now">
                    <%= dateNow %>
                </p>
                <table class="sched-tbl">
                    <th>Day</th>
                    <th>Hours</th>
                
                        <% for(key in data.schedules) { %>

                            <tr>
                                <td class="my-sched-td">
                                    <%= key %>
                                </td>
                                <td class="my-sched-td">
                                    <%= data.schedules[key] %>
                                </td>
                            </tr>

                        <% } %>

                </table>

                <form class="appointment-form">
                    <input type="time" name="setAppointmentTime" class="setSched-inputs time">
                    <input type="date" name="setAppointmentDate" class="setSched-inputs date">
                    <button class="setSched-inputs setSched-btn"></button>
                </form>
            </div>


            <!-- Cancel Modal -->
            <div class="cancel-modal">
                <div class="cancel-message">
                    Canceled Successfully
                </div>
                <form class="cancel-form">
                    <textarea name="textarea" class="cancel-textarea" cols="30" rows="10" placeholder="Reason for canceling the appointment"></textarea>
                    <button class="cancel-sched-btn">
                        Cancel Appoinment
                    </button>
                </form>
            </div>


            <!-- Add Medical Records Modal -->
            <div class="add-medical-modal">
                <div class="add-medical-message">
                    Added Successfully
                </div>
                <form class="add-medical-form">
                    <textarea name="textarea" class="add-medical-textarea" cols="30" rows="10" placeholder="Add medical records"></textarea>
                    <button class="add-medical-sched-btn">
                        Add Medical Records
                    </button>
                </form>
            </div>
        </center>
    </div>


    <%- include('../index/footer') %>

    <%- include('scripts') %>

<body>
    
</body>
</html>