<%- include('header') %>

    <link rel="stylesheet" href="/static/css/index/about.css">
    <%- include('styles') %>

</head>
<body>
    <%- include('nav') %>

    <div class="col-12 main">
        <div class="col-12 inner-div first-index">
            <div class="col-9 about-div">
                    Auxilium focuses on how the Patient will choose their ideal Physician, improve the quality of service doctors will provide to their patients, and help build a nation with fit and healthy citizens guided and supervised by our competitive doctors. Data Sharing will reduce the time of work for the doctors since they are able to track the patient’s medical history. With Auxilium, doctors can promote themselves via posting promotional posts on the feed, the feed will allow the users to post freely whatever they wanted to gain attention of other users. In determining an efficient doctor, the grounds will be the evaluation of the patients to the doctors that will also serve as the ratings and reviews of the doctors from the recent transactions with other patients.
            </div>
            <div class="col-3 img-div about-div">
                <img src="/static/images/about.png" alt="" class="img">
            </div>
        </div>


        <div class="col-12 inner-div second-index">
            <div class="col-3 img-div s-left-div">
                <img src="/static/images/mission.png" alt="" class="img">
            </div>

            <div class="col-9 s-right-div">
                <p class="p-header">Mission</p>
                <p class="p-content">
                    Our core purpose is to build a good relationship between medical practitioners nad patients, improve the quality of prescribing and medicating at its best.
                </p>

            </div>
        </div>


        <div class="col-12 inner-div first-index">
            <div class="col-9 f-left-div">
                <p class="p-header">Vision</p>
                <p class="p-content">
                    Our future will be a nation with a fit and healthy citizens, a care and guided by our competitive medical practitioners.                   
                </p>
            </div>

            <div class="col-3 img-div f-right-div">
                <img src="/static/images/vision.png" alt="" class="img">
            </div>
        </div>
    </div>

    <div class="col-12 inner-div second-index">
        <div class="col-3 img-div s-left-div">
            <img src="/static/images/loc.png" alt="" class="img">
        </div>

        <div class="col-9 s-right-div">
            <p class="p-header">Location</p>
            <p class="p-content"> 
                R. Mapa Street, Brgy. Tabucan Mandurriao, Iloilo City, Iloilo, Philippines, 5000 
            </p>

        </div>
    </div>


    <%- include('footer') %>

    <%- include('scripts') %>

</body>
</html>

