<%- include('header') %>

    <link rel="stylesheet" href="/static/css/index/contact.css">
    <%- include('styles') %>

</head>
<body>

    <%- include('nav') %>

    <div class="col-12 main">
        <center>
            <div class="inner-div">
                <div class="col-12">
                    <p class="p-title">
                        Contact Auxilium
                    </p>

                    <p class="p-bottom">
                        Get in touch with us
                    </p>
                </div>

                <div class="col-12">
                    <div class="col-4 div-content">
                        <img src="/static/images/cont.png" alt="" class="icons">
                        <p class="p-header">PHONE</p>
                        <span class="span-content">
                            Communication Development Specialist<br />
                            Globe +639267142739<br />
                            Globe +639363778841
                        </span>
                    </div>

                    <div class="col-4 div-content">
                        <img src="/static/images/email.png" alt="" class="icons">
                        <p class="p-header">MAIL</p>
                        <span class="span-content">
                                Auxilium <br />
                                connect@auxilium.live
                        </span>
                    </div>

                    <div class="col-4 div-content">
                        <div class="col-12 social-div">
                            <div class="col-3 icon-div">
                                <img src="/static/images/fb.png" alt="" class="social-icons">
                            </div>
                            <div class="col-9 links-div">
                                <a href="https://www.facebook.com/auxiliumph" class="social-links">
                                    https://www.facebook.com/auxiliumph
                                </a>
                            </div>
                        </div>

                        <div class="col-12 social-div">
                            <div class="col-3 icon-div">
                                <img src="/static/images/insta.png" alt="" class="social-icons">
                            </div>
                            <div class="col-9 links-div">
                                <a href="https://www.instagram.com/phauxilium" class="social-links">
                                    https://www.instagram.com/phauxilium
                                </a>
                            </div>
                        </div>

                        <div class="col-12 social-div">
                            <div class="col-3 icon-div">
                                <img src="/static/images/link.png" alt="" class="social-icons">
                            </div>
                            <div class="col-9 links-div">
                                <a href="https://www.linkedin.com/company/auxilium-ph/" class="social-links">
                                    https://www.linkedin.com/company/auxilium-ph/
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </center>
    </div>

    <%- include('footer') %>

    <%- include('scripts') %>

</body>
</html>