<%- include('header') %>

    <link rel="stylesheet" href="/static/css/index/index.css">
    <%- include('styles') %>

</head>
<body>
    <%- include('nav') %>

    <div class="main col-12">
        <p class="top-p"> Small aid to individuals, Large aid to masses. </p>
    </div>

    <%- include('footer') %>

    <%- include('scripts') %>
</body>
</html>